:root {

  /**
   * colors
   */

  --flourescent-blue: hsl(99, 100%, 49%);
  --heliotrope-gray: hsl(253, 15%, 70%);
  --russian-violet: hsl(252, 80%, 16%);
  --dark-violet: hsl(252, 100%, 12%);
  --space-cadet: hsl(247, 43%, 20%);
  --blue-ryb: hsl(62, 100%, 50%);
  --white: hsl(0, 0%, 100%);

  --gradient: linear-gradient(to right, var(--flourescent-blue), var(--blue-ryb));

  /**
   * typography
   */

  --ff-josefin: 'Josefin sans', sans-serif;

  --fs-1: 25px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 15px;

  --fw-500: 500;
  --fw-700: 700;

  /**
   * transition
   */

  --transition: 0.25s ease-in-out;

  /**
   * spacing
   */

  --section-padding: 30px;

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
input,
button,
ion-icon { display: block; }

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

input {
  font: inherit;
  border: none;
  width: 100%;
}

:focus { outline-offset: 4px; }

html {
  font-family: var(--ff-josefin);
  scroll-behavior: smooth;
}

body {
  background: #111727;
  color: var(--white);
}

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track {
  background: var(--dark-violet);
  border-left: 1px solid var(--space-cadet);
}

::-webkit-scrollbar-thumb { background: hsla(0, 0%, 100%, 0.8); }

::-webkit-scrollbar-thumb:hover { background: hsla(0, 0%, 100%, 0.6); }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.btn {
  color: var(--white);
  font-size: var(--fs-4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 9px 10px;
  border-radius: 4px;
}

.btn-primary {
  background: var(--gradient);
  background-size: 500%;
  background-position: right;
  padding: 15px 25px;
  gap: 8px;
  transition: background var(--transition);
}

.btn-primary:is(:hover, :focus) { background-position: left; }

.btn-primary > ion-icon { font-size: 18px; }

.btn-primary > span { margin-top: 3px; }

.container { padding: 0 15px; }

.h3 {
  color: var(--white);
  font-size: var(--fs-2);
  line-height: 1.5;
}





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

header {
  position: fixed;
  top: -90px;
  left: 0;
  width: 100%;
  padding-block: 15px;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
  background: #111727;
  transition: var(--transition);
  z-index: 4;
}

header.active { top: 0; }

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle-btn {
  color: var(--white);
  font-size: 35px;
  border-radius: 4px;
}

.nav-toggle-btn ion-icon { --ionicon-stroke-width: 40px; }

.navbar {
  position: fixed;
  bottom: -270px;
  left: 0;
  width: 100%;
  background: #111727;
  border-radius: 8px 8px 0 0;
  padding: 30px 10px 10px;
  box-shadow: 0 -1px 10px hsla(0, 0%, 0%, 0.5);
  z-index: 2;
  visibility: hidden;
  transition: 0.15s ease-in;
}

.navbar.active {
  bottom: 0;
  visibility: visible;
  transition: 0.25s ease-out;
}

.navbar-list {
  padding-bottom: 5px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.05);
  margin-bottom: 5px;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 4px;
  background: hsla(0, 0%, 100%, 0.05);
  border-radius: 5px;
}

.navbar-link {
  color: var(--white);
  font-size: var(--fs-4);
  padding: 10px;
  border-radius: 4px;
}

.navbar-link:is(:hover, :focus) { background: hsla(0, 0%, 100%, 0.1); }

.navbar-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-btn {
  color: var(--white);
  font-size: 25px;
  padding: 5px;
  border-radius: 4px;
}

.navbar-btn:is(:hover, :focus),
.navbar-actions .btn:is(:hover, :focus) { background: hsla(0, 0%, 100%, 0.1); }

.overlay {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1;
  transition: var(--transition);
}

.overlay.active {
  pointer-events: all;
  background: hsla(0, 0%, 0%, 0.7);
}





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero { padding: 140px 0 var(--section-padding); }

.hero-title {
  width: 100%;
  margin-bottom: 20px;
}

.hero-text {
  color: var(--white);
  font-size: var(--fs-4);
  line-height: 1.8;
  margin-bottom: 20px;
}

.hero .btn-primary { margin-bottom: 25px; }

.btn-title {
  background: var(--gradient);
  width: max-content;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: var(--fs-4);
  font-weight: var(--fw-700);
  margin-bottom: 25px;
}

.hero .btn-link {
  color: var(--white);
  font-size: var(--fs-4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: max-content;
  background: var(--gradient);
  padding-bottom: 5px;
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: 0 97%;
  border-radius: 4px;
  transition: background var(--transition);
}

.hero .btn-link:is(:hover, :focus) { background-size: 100% 2px; }

.hero .btn-link { margin-bottom: 15px; }

.hero-banner { display: none; }

/* Google Font 'Poppins'  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header .menu_side, .song_side {
    position: relative;
    width: 25%;
    height: 90%;
    /* border: 1px solid #fff; */
    background-color: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;
}

header .song_side {
    width: 75%;
    background: #0b1320;
}

header .master_play {
    width: 100%;
    height: 125px;
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
}

header .menu_side h1 {
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
}

header .menu_side .playlist {
    margin:  40px 0px 0px 20px;
}

header .menu_side .playlist h4 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}
header .menu_side .playlist h4:hover {
    color: #fff;
}
header .menu_side .playlist h4 span{
    position: relative;
    margin-right: 35px;
}
header .menu_side .playlist h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}
header .menu_side .playlist h4:hover span::before{
    border: 2px solid #fff;
}
header .menu_side .playlist h4 .bi{
    display: none;
}
header .menu_side .playlist .active{
    color: #36e2ec;
}
header .menu_side .playlist .active span{
    display: none;
}
header .menu_side .playlist .active .bi{
    display: flex;
    margin-right: 20px;
}
header .menu_side .menu_song {
    width: 100%;
    height: 300px;
    /* border: 1px solid #fff; */
    margin-top: 40px;
}
header .menu_side .menu_song li{
    position: relative;
    list-style-type: none;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}
header .menu_side .menu_song li:hover{
    background: rgb(105, 105, 170,.1);
}
header .menu_side .menu_song li span{
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}
header .menu_side .menu_song li img{
    width: 32px;
    height: 32px;
    margin-left: 25px;
}
header .menu_side .menu_song li h5{
    font-size: 11px;
    margin-left: 15px;
}
header .menu_side .menu_song li h5 .subtitle{
    font-size: 9px;
    color: #4c5262;
}
header .menu_side .menu_song li .bi{
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 16px;
}

header .master_play {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
header .master_play .wave{
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}
header .master_play .wave .wave1{
    width: 3px;
    height: 10px;
    margin-right: 3px ;
    border-radius: 10px 10px 0px 0px ;
    background: #36e2ec;
    animation: unset;
}
header .master_play .wave .wave1:nth-child(2){
    height: 13px;
    /* animation-delay: .4s; */
}
header .master_play .wave .wave1:nth-child(3){
    height: 8px;
    /* animation-delay: .8s; */
}
/* javascript class wave  */
header .master_play .active2 .wave1{
    animation: wave .5s linear infinite;
}
header .master_play .active2 .wave1:nth-child(2){
    animation-delay: .4s;
}
header .master_play .active2 .wave1:nth-child(3){
    animation-delay: .8s;
}

@keyframes wave {
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}


header .master_play img {
    width: 35px;
    height: 35px;
}
header .master_play h5 {
    width: 130px;
    font-size: 13px;
    margin-left: 15px;
    color: #fff;
    line-height: 17px;
}
header .master_play h5 .subtitle{
   font-size: 11px;
   color: #4c5262;
}
header .master_play .icon{
   font-size: 20px;
   color: #fff;
   margin: 0px 20px 0px 40px;
   outline: none;
}
header .master_play .icon .bi{
 cursor: pointer;
 outline: none;
}
header .master_play .icon .bi:nth-child(2){
border: 1px solid rgb(105, 105, 170,.1);
border-radius: 50%;
padding: 1px 4px 0px 6px;
margin: 0px 5px;
transition: .3s linear;
}

header .master_play span {
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
}
header .master_play #currentStart{
    margin: 0px 0px 0px 20px;
}

header .master_play .bar {
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105, 105, 170,.1);
    margin: 0px 15px 0px 10px;
}
header .master_play .bar .bar2{
   position: absolute;
   background: #36e2ec;
   width: 0%;
   height: 100%;
   top: 0;
   transition: 1s linear;
}
header .master_play .bar .dot{
   position: absolute;
   width: 5px;
   height: 5px;
   background: #36e2ec;
   border-radius: 50%;
   left: 0%;
   top: -1px;
   transition: 1s linear;
}
header .master_play .bar .dot::before{
    content: '';
   position: absolute;
   width: 15px;
   height: 15px;
   border:1px solid #36e2ec;
   border-radius: 50%;
   left: -6px;
   top: -6px;
  box-shadow: inset 0px 0px 3px #36e2ec;
}
header .master_play .bar input{
   position: absolute;
   width: 100%;
   top: -6px;
   left: 0;
   cursor: pointer;
   z-index: 99999999;
   transition: 3s linear;
   opacity: 0;
}
header .master_play .vol{
  position: relative;
  width: 100px;
  height: 2px;
  margin-left: 50px;
 background: rgb(105, 105, 170,.1); 
}
header .master_play .vol .bi{
position: absolute;
color: #fff;
font-size: 25px;
top: -17px;
left: -30px;
}
header .master_play .vol input{
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
 }

 header .master_play .vol .vol_bar{
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
 }
 header .master_play .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
 }
 header .master_play .vol .dot::before{
     content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border:1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
   box-shadow: inset 0px 0px 3px #36e2ec;
 }

 header .song_side {
     z-index: 2;
 }
 header .song_side::before{
     content: '';
     position: absolute;
     width: 100%;
     height: 300px;
     background: url('bg.png');
     z-index: -1;
 }
 header .song_side nav{
    width: 90%;
    height: 10%;
    margin: auto;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 header .song_side nav ul{
    display: flex;
 }
 header .song_side nav ul li{
    position: relative;
    list-style-type: none;
    font-size: 13px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
 }
 header .song_side nav ul li:hover{
   color: #fff;
 }
 header .song_side nav ul li:nth-child(1){
   color: #fff;
 }
 header .song_side nav ul li span{
   position: absolute;
   width: 100%;
   height: 2.5px;
   background: #36e2ec;
   bottom: -5px;
   left: 0;
   border-radius: 20px;
 }
 header .song_side nav .search{
   position: relative;
   width: 40%;
   padding: 1px 10px;
   border-radius: 20px;
   color: gray;
 }
 header .song_side nav .search::before{
     content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 20px;
   background: rgb(184, 184, 184,.1);
   backdrop-filter: blur(5px);
   z-index: -1;
 }
 header .song_side nav .search .bi{
    font-size: 13px;
    padding: 3px 0px 0px 10px;
 }
 header .song_side nav .search input{
    background: none;
    outline: none;
    border: none;
    padding: 0px 10px;
    color: #fff;
    font-size: 12px;
 }
 header .song_side nav .user{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
 }
 header .song_side nav .user img{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #131312;
 }

 header .song_side .content {
     width:90%;
     height: 30%;
     margin: auto;
     /* border: 1px solid #fff; */
     padding-top: 20px;
 }
 
 header .song_side .content h1{
    font-size: 25px;
    font-weight: 600;
 }
 header .song_side .content p{
    font-size: 11px;
    font-weight: 400;
    color: #4c5262;
    margin: 5px;
 }
 header .song_side .content .buttons{
    margin-top: 15px;
 }
 header .song_side .content .buttons button{
    width: 130px;
    height: 30px;
    border: 2px solid #36e2ec;
    outline: none;
    border-radius: 20px;
    background: #5adae0;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
 }
 header .song_side .content .buttons button:hover{
    border: 2px solid #36e2ec;
    background: none;
    color: #36e2ec;
 }
 header .song_side .content .buttons button:nth-child(2){
    border: 2px solid #36e2ec;
    background: none;
    color: #36e2ec;
 }
 header .song_side .content .buttons button:nth-child(2):hover{
    border: 2px solid #36e2ec;
    background: #36e2ec;
    color: #fff;
 }

 header .song_side .popular_song {
     width: 90%;
     height: auto;
     /* border: 1px solid #fff; */
     margin: auto;
     margin-top: 15px;
 }
 header .song_side .popular_song .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 header .song_side .popular_song .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
 }
 header .song_side .popular_song .h4 .bi:hover{
    color: #fff;
 }

 header .song_side .popular_song .pop_song {
     width: 100%;
     height: 150px;
     margin-top: 15px;
     display: flex;
     overflow-x: auto;
     scroll-behavior: smooth;
 }
 header .song_side .popular_song .pop_song::-webkit-scrollbar{
     display: none;
 }
 header .song_side .popular_song .pop_song li{
     min-width: 100px;
     height: 140px;
     list-style-type: none;
     margin-right: 10px;
     transition: .3s linear;
 }
 header .song_side .popular_song .pop_song li:hover{
     background: rgb(105, 105, 170,.1);
 }
 header .song_side .popular_song .pop_song li .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 header .song_side .popular_song .pop_song li .img_play img{
   width: 100%;
   height: 100%;
 }
 header .song_side .popular_song .pop_song li .img_play .bi{
   position: absolute;
   font-size: 20px;
   cursor: pointer;
   transition: .3s linear;
   opacity: 0;
 }
 header .song_side .popular_song .pop_song li .img_play:hover .bi{
   opacity: 1;
 }
 header .song_side .popular_song .pop_song li h5{
   padding: 5px 0px 0px 5px;
   line-height: 15px;
   font-size: 10px;
 }
 header .song_side .popular_song .pop_song li h5 .subtitle{
   font-size: 9px;
   color: #4c5262;
 }

 header .song_side .popular_artists {
    width: 90%;
    height: auto;
    /* border: 1px solid #fff; */
    margin: auto;
    margin-top: 15px;
}
header .song_side .popular_artists .h4{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
header .song_side .popular_artists .h4 .bi{
   color: #a4a8b4;
   cursor: pointer;
   transition: .3s linear;
}
header .song_side .popular_artists .h4 .bi:hover{
   color: #fff;
}
header .song_side .popular_artists .item{
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
header .song_side .popular_artists .item::-webkit-scrollbar{
  display: none;
}
header .song_side .popular_artists .item li{
 list-style-type: none;
 position: relative;
 min-width: 60px;
 height: 60px;
 /* background-color: #fff; */
 border-radius: 50%;
 margin-right: 20px;
 cursor: pointer;
}
header .song_side .popular_artists .item li img{
 width: 100%;
 height: 100%;
 border-radius: 50%;
 position: absolute;
}




/*-----------------------------------*\
  #PODCAST
\*-----------------------------------*/

.podcast { padding: var(--section-padding) 0; }

.podcast-list {
  display: grid;
  gap: 30px;
}

.podcast-card { border-radius: 4px; }

.card-banner {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  z-index: 1;
}

.card-banner::before {
  content: "";
  position: absolute;
  inset: 0;
}

.podcast-card:is(:hover, :focus) .card-banner::before {
  background: hsla(0, 0%, 100%, 0.1);
}

.card-banner img { width: 100%; }

.card-banner-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 50%;
  font-size: 20px;
  transition: var(--transition);
}

.podcast-card:is(:hover, :focus) .card-banner-icon {
  background: var(--white);
  color: var(--blue-ryb);
}

.card-meta {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: var(--heliotrope-gray);
  font-size: var(--fs-4);
  margin-left: 35px;
  margin-bottom: 15px;
}

.card-meta::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -35px;
  transform: translateY(-2px);
  width: 25px;
  height: 2px;
  background: var(--heliotrope-gray);
}

.podcast-card .card-title {
  display: inline;
  padding: 3px 0;
  background: var(--gradient);
  background-position: 0 95%;
  background-repeat: no-repeat;
  background-size: 0 2px;
  transition: var(--transition);
}

.podcast-card:is(:hover, :focus) .card-title { background-size: 100% 2px; }





/*-----------------------------------*\
  #NEWSLETTER
\*-----------------------------------*/

.newsletter { padding: var(--section-padding) 0; }

.newsletter-card {
  background: url("../images/newsletter-bg.jpg") center no-repeat;
  background-size: cover;
  padding: 60px 20px;
  border-radius: 12px;
}

.newsletter-card .card-title {
  font-size: var(--fs-1);
  line-height: 1.3;
  margin-bottom: 10px;
}

.newsletter-card .card-text {
  font-size: var(--fs-4);
  line-height: 1.5;
  margin-bottom: 20px;
}

.newsletter-card .input-field {
  padding: 18px 15px;
  border-radius: 4px;
  background: hsla(0, 0%, 100%, 0.3);
  color: var(--white);
  font-size: var(--fs-4);
  border: 1px solid var(--white);
  margin-bottom: 20px;
}

.newsletter-card .input-field:focus { outline: none; }

.newsletter-card .input-field::placeholder {
  color: inherit;
  transition: var(--transition);
}

.newsletter-card .input-field:focus::placeholder { opacity: 0; }

.newsletter-card .btn-primary {
  font-size: var(--fs-3);
  width: 100%;
  padding-block: 18px;
}

.newsletter-card .btn-primary:disabled {
  cursor: not-allowed;
  background-position: right;
}





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer-top {
  padding: var(--section-padding) 0;
  border-bottom: 1px solid var(--space-cadet);
}

.footer-brand,
.footer-brand .logo { margin-bottom: 25px; }

.footer-text {
  color: var(--heliotrope-gray);
  line-height: 1.6;
  font-size: var(--fs-4);
}

.footer-list { margin-bottom: 30px; }

.footer-list > li:not(:last-child) { margin-bottom: 20px; }

.footer-link-title {
  font-size: var(--fs-2);
  font-weight: var(--fw-700);
  margin-bottom: 20px;
}

.footer-link {
  color: var(--heliotrope-gray);
  font-size: var(--fs-4);
  width: max-content
}

.footer-link:is(:hover, :focus) { color: var(--blue-ryb); }

.social-title {
  background: var(--gradient);
  width: max-content;
  font-size: var(--fs-2);
  font-weight: var(--fw-700);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.social-link {
  background: var(--space-cadet);
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  color: var(--white);
  font-size: 20px;
  border-radius: 50%;
}

.social-link:is(:hover, :focus) { background: var(--blue-ryb); }

.copyright {
  color: var(--heliotrope-gray);
  font-size: var(--fs-4);
  text-align: center;
  line-height: 1.8;
  padding-block: 20px;
}

.copyright a {
  color: var(--white);
  display: inline-block;
}

.copyright a:is(:hover, :focus) { color: var(--blue-ryb); }





/*-----------------------------------*\
  #GO TO TOP
\*-----------------------------------*/

.go-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: var(--blue-ryb);
  color: var(--white);
  font-size: 25px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition);
  z-index: 2;
}

.go-top.active {
  opacity: 1;
  pointer-events: all;
}

.go-top:is(:hover, :focus) { --blue-ryb: hsl(221, 100%, 40%); }





/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

/**
 * responsive for larger than 550px
 */

@media (min-width: 550px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 500px;
    margin-inline: auto;
  }

}





/**
 * responsive for larger than 768px
 */

@media (min-width: 768px) {

  :root {

    /**
     * typography
     */

    --fs-1: 30px;
    --fs-2: 20px;
    --fs-4: 18px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 680px; }



  /**
   * HERO
   */

  .hero-title { width: 90%; }

  .hero :is(.btn-primary, .btn-title, .btn-link) {
    --fs-4: 16px;
    margin-bottom: 0;
  }

  .hero-btn-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
  }

  .btn-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }



  /**
   * PODCAST
   */

  .podcast-list { grid-template-columns: 1fr 1fr; }



  /**
   * NEWSLETTER
   */

  .newsletter-card { padding: 50px; }

  .card-form { position: relative; }

  .newsletter-card .btn-primary {
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    width: 140px;
  }

  .newsletter-card .input-field { padding-right: 155px; }



  /**
   * FOOTER
   */

  .footer-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  .footer-brand {
    max-width: 350px;
    margin-bottom: 0;
  }

  .footer-list { margin-bottom: 0; }

}





/**
 * responsive for larger than 1024px
 */

@media (min-width: 1024px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 980px; }



  /**
   * HEADER
   */

  header { top: -120px; }

  .nav-toggle-btn { display: none; }

  .navbar {
    position: static;
    visibility: visible;
    box-shadow: none;
    padding: 0;
    background: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
  }

  .navbar-list {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .navbar-link { position: relative; }

  .navbar-link::after {
    --scale: 0;

    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(var(--scale));
    transform-origin: left;
    width: calc(100% - 20px);
    height: 2px;
    background: var(--gradient);
    transition: var(--transition);
  }

  .navbar-link:is(:hover, :focus) {
    background: var(--gradient);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .navbar-link:is(:hover, :focus)::after { --scale: 1; }

  .navbar-actions { gap: 10px; }

  .navbar-actions .btn {
    background: var(--blue-ryb);
    padding: 15px 25px;
    transition: background var(--transition);
  }

  .navbar-actions .btn:is(:hover, :focus) { background: hsl(221, 100%, 40%); }

  .navbar::before,
  .overlay { display: none; }



  /**
   * HERO
   */

  .hero-content {
    max-width: 680px;
    margin-inline: auto;
  }



  /**
   * PODCAST
   */

  .podcast-list { grid-template-columns: repeat(3, 1fr); }



  /**
   * NEWSLETTER
   */

  .newsletter-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  .newsletter-card .card-content,
  .card-form { width: 50%; }

  .newsletter-card .card-text,
  .newsletter-card .input-field { margin-bottom: 0; }

}





/**
 * responsive for larger than 1200px
 */

@media (min-width: 1200px) {

  :root {

    /**
     * spacing
     */

    --section-padding: 60px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1200px; }



  /**
   * HEADER
   */

  header { padding-block: 25px; }

  header .container { max-width: 1300px; }

  .navbar { gap: 20px; }

  .navbar-actions .btn { margin-left: 20px; }



  /**
   * HERO
   */

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
    padding-top: 160px;
  }

  .hero-content {
    width: 95%;
    margin-inline: 0;
  }

  .hero-title {
    width: 100%;
    margin-bottom: 30px;
  }

  .hero-text { margin-bottom: 25px; }

  .hero-btn-group {
    flex-wrap: wrap-reverse;
    gap: 35px;
  }

  .hero :is(.btn-primary, .btn-title, .btn-link) { --fs-4: 17px; }

  .hero-banner {
    display: block;
    width: 100%;
    padding-top: 100%;
    background: url("../images/hero-banner.png") no-repeat;
    background-size: cover;
    border-radius: 100px;
  }



  /**
   * PODCAST
   */

  .podcast-list { grid-template-columns: repeat(4, 1fr); }



  /**
   * FOOTER
   */

  .footer-link-title {
    --fs-2: 22px;
    margin-bottom: 30px;
  }

  .social-title {
    margin-left: auto;
    margin-bottom: 35px;
  }

  .social-link {
    width: 45px;
    height: 45px;
    font-size: 22px;
  }

}